.sign-in {
    background-color: #000;
    height: 100%;
    position: absolute;
    width: 100%;
}

.sign-in .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.sign-in .form .username-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    font-size: 200%;
    letter-spacing: 3px;
}

.sign-in .title {
    font-size: 200%;
}

.sign-in .title, .sign-in .username-input {
    color: #fff;
    font-weight: 100;
}
